@import '../util';

#hero {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  user-select: none;
  cursor: grab;
  #images {
    width: 100%;
    height: 100%;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    .item {
      position: absolute;
      top: 0;
      left: 0;
      will-change: transform;
      white-space: normal;
      .item-wrapper {
        will-change: transform;
      }
      .item-image {
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          will-change: transform;
        }
      }
    }
  }
}
html.dragging #hero {
  cursor: grabbing;
}