@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #000;
  color: #fff;
}

@font-face {
  font-family: 'OptimusPrinceps';
  src: url('/OptimusPrinceps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OptimusPrincepsSemiBold';
  src: url('/OptimusPrincepsSemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.demo-container {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  mix-blend-mode: difference;
}

.demo-name {
  font-family: 'OptimusPrincepsSemiBold', serif;
  font-size: 46px;
  color: white;
  pointer-events: none;
}

.demo-author {
  font-family: 'OptimusPrinceps', serif;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin-top: -5px;
  letter-spacing: 1.2px;
}

.demo-author a {
  color: white;
}

.github-link {
  text-decoration: underline;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .demo-name {
    font-size: 36.8px; /* 20% smaller than 46px */
  }

  .demo-author {
    font-size: 12.8px; /* 20% smaller than 16px */
  }
}

.underlined {
  text-decoration: underline;
}
